<h1>You're in edit new article!</h1>

<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Title: <input type="text" name="title" value="<%= @article.title%>" ></p>
  <p>Content: <input type="text" name="content" value="<%= @article.content %>" ></p>
  <input type="submit">
</form>