<h1>You're in Create New Article!</h1>

<form method="POST" action="/articles">
<p>Title: <input type="text" name="title"></p>
<p>Content: <input type="text" name="content"></p>
<input type="submit">
</form>