<h1>New article created!</h1>

<h2><%= @article.title %></h2>
<h2><%= @article.content %></h2>

<h3>Delete?</h3>
<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>